<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 开启Bean的包扫描，并可以使用注解自动注入 -->
    <context:component-scan base-package="com.maguasoft.spring.webmvc.controller"/>

    <!--
        配置JSON格式的messageConverter
        @RequestBody获取请求体中的JSON格式的数据，并把它转换成JavaBean
        @ResponseBody将普通的JavaBean转化成JSON格式返回前端
    -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <!-- 配置上传文件MultipartFile组件 -->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/> <!-- 文件的编码格式，默认ISO8859-1 -->
        <property name="maxUploadSizePerFile"
                  value="1048576"/> <!-- 上传文件的每个大小，单位：byte(字节) 10 * 1024 * 1024 = 1048576 byte = 1Mb-->
        <property name="maxUploadSize" value="10485760"/> <!-- 上传文件的总大小 10485760 byte = 10Mb  -->
        <property name="maxMemorySize" value="1048576"/> <!-- 上传文件的缓存大小 1Mb -->
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.maguasoft.spring.webmvc.interceptor.MyHandlerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:annotation-driven/>

    <!-- 静态资源配置 -->
    <mvc:default-servlet-handler/>
    <!--<mvc:resources mapping="images" location="/pics" />-->

</beans>