<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Spring Web MVC example</display-name>

<!--    <context-param>-->
<!--        <param-name>contextConfigLocation</param-name>-->
<!--        <param-value>classpath:spring.xml</param-value>-->
<!--    </context-param>-->

    <!-- 可以指定初始化的容器类 -->
     <context-param>
         <param-name>contextClass</param-name>
         <!-- 指定一个通过配置类加载的Spring容器 -->
         <param-value>com.maguasoft.spring.webmvc.context.MyAnnotationConfigApplicationContext</param-value>
     </context-param>

    <listener>
        <!-- 自定义的加载Web Application Context的监听器 -->
        <!-- <listener-class>com.maguasoft.spring.webmvc.listener.WebApplicationContextLoaderListener</listener-class>-->

        <!-- Spring Web定义的Web Application Context的监听器 -->
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        <!-- XML配置文件加载方式 -->
<!--        <init-param>-->
<!--            <param-name>contextConfigLocation</param-name>-->
<!--            <param-value>classpath:spring-mvc.xml</param-value>-->
<!--        </init-param>-->
        <!-- 注解类加载方式 -->
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>com.maguasoft.spring.webmvc.context.MyAnnotationConfigWebApplicationContext</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>