<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 开启Bean的包扫描，并可以使用注解自动注入 -->
    <context:component-scan base-package="com.maguasoft.spring.**"/>

    <!-- don't forget the DataSource -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="org.sqlite.JDBC"/>
        <property name="jdbcUrl" value="jdbc:sqlite:d:/LocalCloud/ShardingSphere.db"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="connectionInitSql" value="drop table if exists `account`; create table `account` (id int, money int); insert into `account` values (1, 1000); insert into `account` values (2, 1000);"/>
    </bean>

    <!-- similarly, don't forget the TransactionManager -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 注解事务的注解处理@Transcational -->
    <tx:annotation-driven transaction-manager="txManager"/>

    <import resource="classpath:spring-mybatis.xml"/>
</beans>