<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-context.xsd
        http://dubbo.apache.org/schema/dubbo
        https://dubbo.apache.org/schema/dubbo.xsd">

    <!--Spring自带的自定义标签-->
    <context:property-placeholder location="./database.properties"/>

    <!--dubbo自定义的标签 -->
    <dubbo:application name="spring-xml-bean"/>
</beans>